.App {
  text-align: center;
}

.Redux-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Redux-logo {
    animation: Redux-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes Redux-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.counter-area {
  display: flex;
  justify-content: center;
}

.counter-value {
  font-size: 70px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 0.5rem;
}